*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.646);
    background-position: center;
    background-size: cover;
    
}
nav{
    width: 100%;
    height: 80px;
    background-color: #000;
    line-height: 80px;
    padding: 0px 70px;
    text-align: center;
    position: fixed;
}
.logo{
    width: 150px;
    margin: 20px 0;
    cursor: pointer;
}
nav ul{
    background: #000;
    width: 100%;
    margin-top: 10px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    color:  #fff ;
}
.text{
    padding: 20px 8%;
}
nav .sticky{
    position: fixed; 
    top: 0;
    left: 0;
    padding: 10px 8%;
    background: #000;
    display: flex;
    justify-content: space-between;
}
nav.sticky ul{
 width: auto;   
}